* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: rgb(152, 213, 233);

}

.container {

    width: 70%;
    height: 1000px;
    margin: auto;
    
}

h1 {

    text-align: center;
    padding: 20px 0 20px 0;
    height: 10%;
    color: white;
    font-size: 50px;
    font-family:'Potta One', cursive;

}

.row {

    height: 30%;
    width: 100%;
    background-color: rgb(152, 213, 233);
    padding: 1% 0 0.5% 0;

}

.row:after {

    content: "";
    display: table;
    clear: both

}



.item {

    width: 24%;
    height: 100%;
    background-color: white;
    float: left;
    margin: 0.5%;
    border-radius: 10px;
    background-size: cover;
    position: relative;

    

}



.retro {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-image: url("img /pattern.png")
}

.item:hover .fronte{

    display: inline-block;
}

.fronte {

    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    display: none;
}



h3 {

    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
    font-size: 40px;
    font-family: 'Potta One', cursive;

}

.ballon_back{

    background-image: url("img /balloon.png" );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: red;

}

.bicycle_back {

    background-image: url("img /Bicycle.png" );
    background-position: center;
    background-size: cover;
    color: yellow;
    
}



.submarine_back {

    background-image: url("img /submarine.png" );
    background-position: center;
    background-size: cover;
    color: cadetblue
}

.tractor_back  {

    background-image: url("img /Tractor.png" );
    background-position: center;
    background-size: cover;
    color: green
}

.tram_back  {

    background-image: url("img /tram.png" );
    background-position: center;
    background-size: cover;
    color: hotpink;
}

.Cruise_back  {

    background-image: url("img /Cruise.png" );
    background-position: center;
    background-size: cover;
    color: lightseagreen;
}

footer {

    height: 100px;
    width: 70%;
    background-color: rgb(152, 213, 233);
    margin: auto;

}

footer h5 {

    text-align: center;
    padding-top: 30px;
    font-family: 'Potta One', cursive;
}









    
    














